.statistic-white .ant-statistic-title {
  color: #ffffff !important;
}

.card-title {
  color: #00eaff;
  font-weight: bold;
  font-size: 18px;
}

.statistic-white .ant-statistic-title {
  color: #ffffff !important;
}
